/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Class chung */
.text-heading {
    text-align: center;
    text-transform: uppercase;
    margin-top: 24px;
    color: pink;
    padding-top: 16px;
    margin-bottom: 16px;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-12 {
    margin-top: 12px !important;
}

.block {
    display: block !important;
}

html {
    background-color: rgba(30, 24, 31, 50) !important;
    font-family: 'Inter Tight', sans-serif;
    font-style: italic;
    font-weight: bold;
    scroll-behavior: smooth !important;
}

/* Header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 48px;
    background-color: rgba(30, 24, 31, 50);
    text-align: center;
}


#nav li {
    position: relative;
    
}

#nav > li {
    display: inline-block;
    
}


#nav > li > a {
    padding: 0 24px;
    /* khi hover vao the a = the li */
    display: inline-block;
    line-height: 48px;
    padding: 0 32px;
}

#nav li a,
#nav .subnav a {
    font-size: 15px;
    text-transform: uppercase;
    color: pink;
    text-decoration: none;
}

#nav li a:hover,
#nav .subnav a:hover {
    background-color: rgba(222,177,224,100);
    color: #000;
}

#nav, .subnav {
    list-style-type: none;
}

#nav .subnav {
    display: none;
    position: absolute;
    min-width: 160px;
}

#nav .subnav a {
    display: block;
    top: 100%;
    left: 0;
    box-shadow: 0 0 15px rgba(30, 24, 31, 50);
    text-align: left;
    line-height: 40px;
    padding: 0 16px;
}

/* Hien ra subnav khi hover vao members */
#nav li:hover .subnav {
    display: block;
}

.nav-icon {
    padding: 5px;
    font-size: 16px;
}

#slider img {
    width: 100%;
}

/* Content */

/* Content About */

.memberlist {
    display: inline-block;
    width: 50%;
    margin-left: 5%;
    margin-bottom: 40px;
    position: relative;
    margin-top: 10px;
}

#content .memberlist img {
    width: 50%;
}



#content .content-about .content-about-text {
    position: absolute;
    left: 45%;
    margin: 68px 0;
    display: inline-block;
    width: 40%;
    min-width: 50%;
    text-align: left;
}

.about-text {
    font-size: 36px;
    line-height: 64px; 
    color: pink;
}

.content-social {
    margin-left: 14.5%;
}

.content-social a {
    font-size: 36px;
    text-decoration: none;
    color: pink;
}

.content-social .social-list {
    padding: 8px;
}

#content .content-social .social-list:hover {
    background-color: pink;
    color: #000;
    border-radius: 10px;
}

/* Content Ablbum */
.content-album {
    width: 100%;
}

.content-album-img {
    width: 80%;
    text-align: center;
    border: 8px solid pink;
    margin: 32px 10%;
}

.content-album-img .album-pic {
    width: 25%;
    padding: 12px;
}

/* Content MV */
.content-mv {
    width: 100%;
    
}
.content-mv .h-mv {
    text-align: center;
    border: 8px solid pink;
    margin: 32px 10%;
    width: 80%;
}

.content-mv .mv {
    width: 40%;
    height: 315px;
    padding: 24px;
}


/* Content Plink */
.plink-section {
    background-color: rgba(30, 24, 31, 50) !important;
}

.plink-sub-heading {
    text-align: center;
    color:rosybrown;
    font-size: 16px;
    margin-bottom: 40px;
}

.plink-content {
    margin-top: 32px;  
}


.plink-info {
    color: pink;
    font-size: 24px;
    line-height: 32px;
    float: left;
    width: 40%;
    margin-left: 13%; 
}

.plink-info i {
    width: 30px;
    display: inline-block;
    margin: 0 8px;
}

.plink-form {
    width: 35%;
    float: left;
}


.pl-form-content {
    display: inline-block;
    width: 49%;
}

.form-content {
    width: 98%;
    padding: 8px;
}

.plink-button {
    background-color: pink;
    float: right;
    margin-right: 2%;
    padding: 11px 16px;
    color: #000;
    border: none;
    text-decoration: none;
}

.plink-button:hover {
    background-color: #000;
    color: pink;
    cursor: pointer;   
}

#footer {
    margin-top: 160px;
    padding: 64px 16px;
    text-align: center;
    width: 100%;
}

#footer .social-list i {
    color: pink;
    font-size: 24px;
    padding: 4px;
}

#footer .social-list i:hover {
    background-color: pink;
    color: #000;
    border-radius: 10px;
}

#footer .copy-right,
#footer .copy-right a {
    color: pink;
    font-size: 15px;
    margin-top: 8px;
    text-decoration: none;
}

.back-home {
    position: fixed;
    bottom: 0;
    right: 0;
    float: right;
    padding: 24px;
    font-size: 24px;
    margin-right: 8px;
}
.back-home i {
    color: pink;
}

.back-home a:hover {
    border-radius: 16px;
    border: 4px solid pink;
}

.more-about {
    color: pink;
    font-size: 24px;
    margin-bottom: 36px;  
    margin-top: 10px;  
}

/* Responsive */
/* Mobie: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .memberlist {
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1em !important;
    }
    .memberlist img {
        width: 11.546875em;
    }
    .content-social {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.5em !important;
    }
    .content-social a {
        font-size: 1.5em;
    }

    .content-about-text .about-text {
        display: none;
    }
    .text-heading {
        font-size: 2em;
        margin: 0.5em 0;
        padding: 0;
    }
    .content-album-img {
        width: 100%;
        margin: 0;
        margin-bottom: 1.5em;
    }
    .content-album-img .album-pic {
        width: 45%;
        padding: 0.2em;
    }
    .content-mv .h-mv {
        width: 100%;
        margin: 0;
    }
    .content-mv .mv {
        width: 80%;
        padding: 0;
        margin-bottom: 0.5em;
    }
    .plink-info {
        display:none;
    }
    .plink-form {
        display: inline-block;
        width: 100%;
        padding: 0 0.5em;
    }
    .nav_pc {
        display: none;
    }
    /* meo hieu cho nay sao phai them !important ma deoo them thi` no ko hien ra TT */
    .nav-bars-btn {
        display: block !important;
    }

}


/* Mobie nav */

.nav-bars-btn {
    width: 3em;
    height: 3em;
    color: pink;
    position: absolute;
    top: 1em;
    left: 0.5em;
    display: none;
}

.nav_mobie {
    position: fixed;
    top: 46px;
    left: 0;
    bottom: 0;
    text-align: left;
    width: 240px;
    max-width: 100%;
    opacity: 0;
    background-color: rgba(30, 24, 31, 10);
    /* Day menu ra khoi man hinh ben trai */
    transform: translateX(-100%);
    /* animation tu trai qua phai khi hien ra*/
    transition: transform linear 0.5s;
}
.nav-mobie-list a {
    color: pink;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 2em;
    padding-left: 1.3em;
    display: block;
}

.nav-mobie-list a:hover {
    background-color: rgba(222,177,224,100);
    color: #000;
}

.nav-mobie-close {
    width: 1.5em;
    height: 1.5em;
    color: pink;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

.nav-mobie-close i {
    padding: 0.5em;
}

.nav-mobie-close i:hover {
    background-color: pink;
    color: #000;
    cursor: pointer;
}

.nav-input {
    text-align: left;
}


/* co checked thi khi bam vao menu moi an overlay */
.nav-input:checked ~ .nav-overlay {
    display: block;
}

/* Hien ra cai menu khi click vao bieu tuong menu */
.nav-input:checked ~ .nav_mobie {
    transform: translateX(0);
    opacity: 1;
}



.nav-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    /* toc do mo` man hinh = animation */
    animation: fadeIn linear 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Tablet: width > 739px width < 1023 */

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    #content .content-about .content-about-text {
        margin: 0;
        margin-top: 1em;   
    }
    .about-text {
        padding: 0.5em;
        font-size: 1em;
        line-height: 1.2em;
        color: pink;
    }
    .content-social {
        margin: 0;
        margin-left: 6em;
    }
    .content-social a {
        font-size: 1.5em;
    }
    .text-heading {
        font-size: 2em;
        margin: 0.5em 0;
        padding: 0;
    }
    .content-album-img {
        width: 100%;
        margin: 0;
        margin-bottom: 1.5em;
    }
    .content-album-img .album-pic {
        width: 45%;
        padding: 0.2em;
    }
    .content-mv .h-mv {
        width: 100%;
        margin: 0;
    }
    .content-mv .mv {
        width: 80%;
        padding: 0;
        margin-bottom: 0.5em;
    }
    .plink-info {
        display:none;
    }
    .plink-form {
        display: inline-block;
        width: 100%;
        padding: 0 0.5em;
    }
}

/* PC: width > 1024px */
@media only screen and (min-width: 64em) {
   
}